<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <title>MovieArena</title>
</head>
<body style="background-color: #110f16;">

    <header>
        <a href={{url_for('home')}}><h1 class="logo">Movie<span class="logo-part">&Chill</span></h1></a>
        <nav>
            <ul class="nav-links">
                <li><a href="about">About</a></li>
            </ul>
        </nav>
    </header>

    
    <section class="about-section">
        <h1 class="about-into">Hi! Welcome to Movie<span class="logo">&Chill</span> !</h1>
        <div class="details">
            <p class="about">This website all about helping the users to find details about their choice of movie and find some great movie recommendations.
                On the home page you get to see the top rated movies in the recent times and also the top trending movies. 
                Using the search box you can also search for your favorite movies. As soon as you enter your movie title , our algorithm gives you the best of
                 of the recommendations on the based of your title. <br> You can then click on any of the movies and get the details of that.
                 On the details page you will find movie recommendations based on the genre of the movie you clicked.
                <br>
            </p>
            <div class="notes">
                <h3><span class="note">Need your attention</span></h3>
                <ul class="notes-list">
                    <li>While searching for a movie , make sure you enter a valid title even if it is a single word.</li>
                    <li>Our dataset of movies is limited so there might be some instances where you might not find your desired 
                        movie. 
                    </li>
                </ul>
            </div>

            <div class="contact">
                <h3><span>Made with &hearts; by Sourav Kumar Dubey</span></h3>
            </div>
        </div>

    </section>

    <script src="./main.js"></script>
</body>
</html>